* {
    margin: 0;
    padding: 0;
}

.header {
    position: sticky;
    top: 0px;
    height: 52px;
    width: 100%;
    line-height: 52px;
    background-color: rgb(18, 18, 18);
    margin: auto;
}

.logolike {
    float: left;
    font-size: 25px;
    color: rgb(173, 173, 173);
    line-height: 52px;
    padding-right: 100px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    height: 52px;
    width: 1200px;
    line-height: 52px;
    margin: 0 auto;
    ;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    height: 52px;
    padding: 0 30px;
    color: rgb(173, 173, 173);
    font-size: 18px;
}

.nav ul li a:hover {
    color: rgb(255, 255, 255);
}

.search {
    float: left;
    height: 26px;
    width: 230px;
    margin-left: 70px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: white;
}

.search input {
    float: left;
    display: block;
    height: 26px;
    width: 170px;
    background-color: rgb(244, 244, 244);
    border: 0;
}

.search button {
    float: left;
    display: block;
    height: 26px;
    width: 60px;
    background-color: black;
    border: 1px solid white;
}

.user {
    float: right;
    height: 52px;
    padding: 0 10px;
    line-height: 52px;
    color: white;
}

.user a {
    color: rgb(173, 173, 173);
}

.user a:hover {
    color: white;
}

.blog_nav {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 50px;
    /* background-color: aqua; */
    font-weight: 600;
    border-bottom: 1px solid black;
}

.nav_number {
    height: 50px;
    float: right;
    font-weight: 400;
    margin-right: 10px;
}

.nav_number a {
    display: block;
    float: left;
    height: 50px;
    padding: 0 8px;
    color: black;
}

.articles {
    width: 1180px;
    margin: 0 auto;
    color: black;
}

.text {
    display: block;
    width: 1180px;
    height: 198px;
    margin: 0 auto;
    margin-top: 20px;
    /* background-color: aqua; */
    color: black;
    border-top: 1px solid rgb(173, 173, 173);
    border-bottom: 1px solid rgb(173, 173, 173);
}

.articles .text .title {
    width: 1060px;
    height: 40px;
    margin: 0 auto;
    /* background-color: aqua; */
    margin-top: 10px;
    line-height: 40px;
    font-weight: 600;
    padding-left: 20px;
}

.articles .text .introduction {
    width: 1020px;
    height: 90px;
    margin: 0 auto;
    margin-top: 5px;
    /* background-color: yellow; */
    padding: 10px 30px;
    font-size: 14px;
    color: rgb(173, 173, 173);
}

.underline {
    text-decoration: underline;
}

.footer {
    width: 1200px;
    height: 300px;
    /* background-color: green; */
}